/* #category11 {
    background-color:#9538E2 ;
    color: white;
    font-size: 18px;
    font-weight: 800px;

}
#category12{
   
    color: rgba(9, 8, 15, 0.6);
    font-size: 18px;
    font-weight: 500px;

} */

/* 


    
    
    */
